


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{
    background-color: #181818;
    padding: 24px 0;
}

.container {
    max-width: 1168px;
    margin: auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 20px;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

header nav li{
    margin-left: 32px;
}

header nav li:first-of-type{
    margin-right: 24px;
}

header nav li:last-of-type{
    margin-right: 31px;
}

header nav li a{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

header nav li:first-of-type a{
    font-size: 13px;
}

header nav li:last-of-type a{
    border-radius: 14px;
    background: #FFF;
    color: black;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding: 11px 20px;

}

.main_banner{
    background-image: url("../images/main_image.png");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 71px;
    position: relative;
}

.icons{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
}

.icons li {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-left: 16px;
    list-style: none;
}

.icons li:before{
    display: inline-block;
    content: "";
    background-image: url("../images/location_image.jpg");
    width: 10px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -6px;
}

.icons li:nth-child(1):before{
    background-image: url("../images/time.png");
    width: 16px;
    height: 16px;
}

.icons li:nth-child(2):before{
    background-image: url("../images/IMAGEround_logo.png");
    width: 16px;
    height: 16px;
}

.icons li:nth-child(3):before{
    background-image: url("../images/IMAGEISO.png");
    width: 32px;
    height: 16px;
    flex-shrink: 0;
}

.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}

h3{
    color: #C0C0C0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1px;
}

h1{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px; /* 110% */
    margin-bottom: 18px;
}

p{
    color: #C0C0C0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}


.sunset {
    background-image: url("../images/sunset.jpg");
    #d3d3d3: 50%;
/ cover no-repeat;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 71px;
    position: relative;
}

.sunset_container{
    display: inline-flex;
    flex-direction: column ;
    flex-basis: 300px;
    align-self: center;
    justify-content: end;
    margin-left: auto;
    margin-right: 60px;
    padding-right: 0;
}

.sunset_container h3{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1px;
    text-align: left;

}

.sunset_container p{
    text-align: left;
    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


.icons_sunset {
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
}

.icons_sunset li {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-left: 16px;
    list-style: none;
}

.icons_sunset li:before{
    display: inline-block;
    content: "";
    background-image: url("../images/location_image.jpg");
    width: 10px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -6px;
}

.icons_sunset li:nth-child(1):before{
    background-image: url("../images/time.png");
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.icons_sunset li:nth-child(2):before{
    background-image: url("../images/IMAGEround_logo.png");
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.icons_sunset li:nth-child(3):before{
    background-image: url("../images/IMAGEISO.png");
    width: 32px;
    height: 16px;
    flex-shrink: 0;
}


/*what we do BLOCK*/

.what_we_do{
    background: #000;;
}

.what_we_do h3{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    padding-top: 113px;
}

.what_we_do h4{
    color: #C0C0C0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.what_we_do .d_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.what_we_do .d_flex article{
    margin-bottom: 16px;
    max-width: 576px;
}

.what_we_do .d_flex article img{
    display: block;
}

.d_flex article{
    position: relative;
}

.d_flex article div{
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.d_flex article div h4{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

.d_flex article div p{
    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 15px;
}

.d_flex article div a{
    border-radius: 14px;
    background: #FFF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    max-width: 143px;
    height: 42px;
    text-align: center;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding: 9px 10px 9px 6px;
}



.d_flex article div a:before{
    display: inline-block;
    content: "";
    background-image: url("../images/black_dote.png");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    margin-right: 12px;
    margin-bottom: -10px;
}









/*PHOTO BLOCK*/

.photo_block{
    position: relative;
    min-height: 540px;
    background-color: #181818;
}

.photo_block:after{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/photos_backgr.png");
    background-size: cover;
    content: "";
    display: block;
}

.more_text{
    align-items: center;
    display: flex;
    max-width: 1240px;
    min-height: 540px;

}

.photo_block .more_text article{
    max-width: 514px;
    margin-left: 100px;
}

.photo_block h3{
    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 6px;

}

.photo_block h2{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-bottom: 14px;
}

.photo_block p{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.more_text a{
    border-radius: 14px;
    background: #FFF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    max-width: 143px;
    height: 42px;
    text-align: center;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding: 9px 10px 9px 6px;
}

.more_text a:before{
    display: inline-block;
    content: "";
    background-image: url("../images/black_dote.png");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    margin-right: 12px;
    margin-bottom: -10px;
}




/*.white_check{*/
/*    max-width: 152px;*/
/*    max-height: 42px;*/
/*    border-radius: 14px;*/
/*    background: #FFF;*/
/*}*/

/*.white_check a{*/
/*    color: #000;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    font-size: 16px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: 20px; !* 125% *!*/
/*    letter-spacing: 0.4px;*/
/*    text-decoration: none;*/
/*    !*padding: 9px 6px 13px 10px;*!*/
/*    !*width: 100px;*!*/
/*    padding-bottom: 13px;*/

/*}*/

/*.white_check img{*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    padding: 5px 4px 5px 6px;*/
/*}*/










.leafs_block{
    background-image: url("../images/leafs_block.png");
    #d3d3d3: 50%;
/ cover no-repeat;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.leafs_block_container{
    display: inline-flex;
    flex-direction: column ;
    flex-basis: 300px;
    align-self: center;
    justify-content: end;
    margin-left: auto;
    margin-right: 60px;
    padding-right: 0;
}

.leafs_block_container h3{

    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1px;
    text-align: left;
}

.leafs_block_container p{
    text-align: left;
    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.icons_leafs{
    position: absolute;
    right: 40px;
    bottom: 45px;
    display: flex;
}

.icons_leafs li:before{
    display: inline-block;
    content: "";
    background-image: url("../images/location_image.jpg");
    width: 10px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -6px;
}

.icons_leafs li:nth-child(1):before{
    background-image: url("../images/time.png");
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.icons_leafs li:nth-child(2):before{
    background-image: url("../images/IMAGEround_logo.png");
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.icons_leafs li:nth-child(3):before{
    background-image: url("../images/IMAGEISO.png");
    width: 32px;
    height: 16px;
    flex-shrink: 0;
}



.icons_leafs li {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-left: 16px;
    list-style: none;
}


/*black color block*/

.black_block{
    background-color: black;
    background-size: cover;
    min-height: 500px;
    flex-shrink: 0;
    display: block;
    align-items: center;
    align-content: space-around;
    justify-content: end;
    position: relative;
    margin: auto;
    padding: 120px 420px;
}

.text_block{

    /*border: solid yellow 5px;*/
    display: flex;
    min-width: 600px;
    padding: 0 79px 2px 80px;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;

}

.text_block h3{
    color: #FFF;
    text-align: center;
    font-family: poppinsregular, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    /*width: 229px;*/
}

.text_block p{
    color: #C0C0C0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.brands{
    display: flex;
    height: 158px;
    padding: 40px 46px;
    justify-content: center;
    align-items: center;
    gap: 109px;
    margin-top: 40px;


}

.brands li{
    display: inline-block;
    text-decoration: none;
    justify-content: space-around;
    /*margin-right: 109px;*/

}

/*.brands{*/
/*    display: flex;*/
/*    height: 158px;*/
/*    padding: 40px 46px;*/
/*    margin-top: 242px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*}*/

/*.brands li{*/
/*    display: flex;*/
/*    margin-left: 109px;*/
/*}*/

/*.brands li:before{*/
/*    background-image: url("../images/stockholm.png");*/
/*    content: "";*/
/*    display: inline-block;*/
/*    width: 128px;*/
/*    height: 30px;*/
/*}*/

/*.brands li:nth-child(1):before{*/
/*    background-image: url("../images/hillhayes.png");*/
/*    content: "";*/
/*    display: inline-block;*/
/*    width: 128px;*/
/*    height: 30px;*/
/*}*/

/*.brands li:nth-child(2):before{*/
/*    background-image: url("../images/ricksgransen.png");*/
/*    content: "";*/
/*    display: inline-block;*/
/*    width: 128px;*/
/*    height: 78px;*/
/*}*/

/*.brands li:nth-child(3):before{*/
/*    background-image: url("../images/studio.png");*/
/*    content: "";*/
/*    display: inline-block;*/
/*    width: 128px;*/
/*    height: 20px;*/
/*}*/

/*.brands li:nth-child(4):before{*/
/*    background-image: url("../images/chill.png");*/
/*    content: "";*/
/*    display: inline-block;*/
/*    width: 128px;*/
/*    height: 36px;*/
/*}*/



/*snow mountain block*/

.snow_block{
    background-image: url("../images/snow_block.png");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    min-height: 600px;
}

.snow_block_container{
    display: inline-flex;
    flex-direction: column ;
    flex-basis: 300px;
    align-self: center;
    justify-content: end;
    margin-left: auto;
    margin-right: 60px;
    padding-right: 0;
}

.snow_block_container h3{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1px;
    text-align: left;
}

.snow_block_container p{
    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.icons_snow_block{
    position: absolute;
    right: 40px;
    bottom: 45px;
    display: flex;
}

.icons_snow_block li:before{
    display: inline-block;
    content: "";
    background-image: url("../images/location_image.jpg");
    width: 10px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -6px;
}

.icons_snow_block li:nth-child(1):before{
    background-image: url("../images/time.png");
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.icons_snow_block li:nth-child(2):before{
    background-image: url("../images/IMAGEround_logo.png");
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.icons_snow_block li:nth-child(3):before{
    background-image: url("../images/IMAGEISO.png");
    width: 32px;
    height: 16px;
    flex-shrink: 0;
}


.icons_snow_block li{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-left: 16px;
    list-style: none;
}
